<div class="car_main">
    <!-- 头部 -->
    <div class="car_header">
        <a href=""></a>
        <p class="car_nav-title">购物车</p>
    </div>
    <!-- 主体 -->
    <div class="shopping-cart-page">
        <!-- <p class="login-info"></p> -->
        <div class="car-box">
            <div class="zero">
                <i class=iconfont>r</i>
                <p>您的购物车暂无商品</p>
                <a href="">随便逛逛</a>
            </div>
        </div>
        <!-- 为你优选新品 -->
        <div class="recommend-for-you">
            <div class="goods-container">
                <p class="title">
                    <span>为你优选新品</span>
                </p>
                <div class="good-list">
                    <div class="goods-info">
                        <div class="tag-container"></div>
                        <div class="good-detail-img">
                            <a href="" class="good-thumb">
                                <img src="https://img10.static.yhbimg.com/goodsimg/2018/04/18/15/01a14dc5505f87f2e7334530209d557294.jpg?imageMogr2/thumbnail/235x314/background/d2hpdGU=/position/center/quality/60/format/webp"
                                    class="lazy" alt="">
                            </a>
                            <div class="similar-c">
                                <div class="bg"></div>
                                <a href="">找相似</a>
                            </div>
                        </div>
                        <div class="good-detail-text">
                            <div class="name">
                                <a href="">Eone Timepieces 南方有乔木同款 2018新款触感磁力防水 中性时尚腕表BR-KU 酷MA萌定制版</a>
                            </div>
                            <div class="price">
                                <span class="sale-price">￥3280.00</span>
                            </div>
                            <a href="" class="iconfont"></a>
                        </div>
                    </div>
                    <div class="goods-info">
                        <div class="tag-container"></div>
                        <div class="good-detail-img">
                            <a href="" class="good-thumb">
                                <img src="https://img13.static.yhbimg.com/goodsimg/2018/05/24/14/020a51f473664e03cd54534c2742be7722.jpg?imageMogr2/thumbnail/235x314/background/d2hpdGU=/position/center/quality/60/format/webp"
                                    class="lazy" alt="">
                            </a>
                            <div class="similar-c">
                                <div class="bg"></div>
                                <a href="">找相似</a>
                            </div>
                        </div>
                        <div class="good-detail-text">
                            <div class="name">
                                <a href="">Eone Timepieces 南方有乔木同款 2018新款触感磁力防水 中性时尚腕表BR-KU 酷MA萌定制版</a>
                            </div>
                            <div class="price">
                                <span class="sale-price">￥3280.00</span>
                            </div>
                            <a href="" class="iconfont"></a>
                        </div>
                    </div>
                    <div class="goods-info">
                        <div class="tag-container"></div>
                        <div class="good-detail-img">
                            <a href="" class="good-thumb">
                                <img src="https://img10.static.yhbimg.com/goodsimg/2018/04/18/15/01a14dc5505f87f2e7334530209d557294.jpg?imageMogr2/thumbnail/235x314/background/d2hpdGU=/position/center/quality/60/format/webp"
                                    class="lazy" alt="">
                            </a>
                            <div class="similar-c">
                                <div class="bg"></div>
                                <a href="">找相似</a>
                            </div>
                        </div>
                        <div class="good-detail-text">
                            <div class="name">
                                <a href="">Eone Timepieces 南方有乔木同款 2018新款触感磁力防水 中性时尚腕表BR-KU 酷MA萌定制版</a>
                            </div>
                            <div class="price">
                                <span class="sale-price">￥3280.00</span>
                            </div>
                            <a href="" class="iconfont"></a>
                        </div>
                    </div>
                    <div class="goods-info">
                        <div class="tag-container"></div>
                        <div class="good-detail-img">
                            <a href="" class="good-thumb">
                                <img src="https://img13.static.yhbimg.com/goodsimg/2018/05/24/14/020a51f473664e03cd54534c2742be7722.jpg?imageMogr2/thumbnail/235x314/background/d2hpdGU=/position/center/quality/60/format/webp"
                                    class="lazy" alt="">
                            </a>
                            <div class="similar-c">
                                <div class="bg"></div>
                                <a href="">找相似</a>
                            </div>
                        </div>
                        <div class="good-detail-text">
                            <div class="name">
                                <a href="">Eone Timepieces 南方有乔木同款 2018新款触感磁力防水 中性时尚腕表BR-KU 酷MA萌定制版</a>
                            </div>
                            <div class="price">
                                <span class="sale-price">￥3280.00</span>
                            </div>
                            <a href="" class="iconfont"></a>
                        </div>
                    </div>
                    <div class="goods-info">
                        <div class="tag-container"></div>
                        <div class="good-detail-img">
                            <a href="" class="good-thumb">
                                <img src="https://img10.static.yhbimg.com/goodsimg/2018/04/18/15/01a14dc5505f87f2e7334530209d557294.jpg?imageMogr2/thumbnail/235x314/background/d2hpdGU=/position/center/quality/60/format/webp"
                                    class="lazy" alt="">
                            </a>
                            <div class="similar-c">
                                <div class="bg"></div>
                                <a href="">找相似</a>
                            </div>
                        </div>
                        <div class="good-detail-text">
                            <div class="name">
                                <a href="">Eone Timepieces 南方有乔木同款 2018新款触感磁力防水 中性时尚腕表BR-KU 酷MA萌定制版</a>
                            </div>
                            <div class="price">
                                <span class="sale-price">￥3280.00</span>
                            </div>
                            <a href="" class="iconfont"></a>
                        </div>
                    </div>
                    <div class="goods-info">
                        <div class="tag-container"></div>
                        <div class="good-detail-img">
                            <a href="" class="good-thumb">
                                <img src="https://img13.static.yhbimg.com/goodsimg/2018/05/24/14/020a51f473664e03cd54534c2742be7722.jpg?imageMogr2/thumbnail/235x314/background/d2hpdGU=/position/center/quality/60/format/webp"
                                    class="lazy" alt="">
                            </a>
                            <div class="similar-c">
                                <div class="bg"></div>
                                <a href="">找相似</a>
                            </div>
                        </div>
                        <div class="good-detail-text">
                            <div class="name">
                                <a href="">Eone Timepieces 南方有乔木同款 2018新款触感磁力防水 中性时尚腕表BR-KU 酷MA萌定制版</a>
                            </div>
                            <div class="price">
                                <span class="sale-price">￥3280.00</span>
                            </div>
                            <a href="" class="iconfont"></a>
                        </div>
                    </div>
                    <div class="goods-info">
                        <div class="tag-container"></div>
                        <div class="good-detail-img">
                            <a href="" class="good-thumb">
                                <img src="https://img10.static.yhbimg.com/goodsimg/2018/04/18/15/01a14dc5505f87f2e7334530209d557294.jpg?imageMogr2/thumbnail/235x314/background/d2hpdGU=/position/center/quality/60/format/webp"
                                    class="lazy" alt="">
                            </a>
                            <div class="similar-c">
                                <div class="bg"></div>
                                <a href="">找相似</a>
                            </div>
                        </div>
                        <div class="good-detail-text">
                            <div class="name">
                                <a href="">Eone Timepieces 南方有乔木同款 2018新款触感磁力防水 中性时尚腕表BR-KU 酷MA萌定制版</a>
                            </div>
                            <div class="price">
                                <span class="sale-price">￥3280.00</span>
                            </div>
                            <a href="" class="iconfont"></a>
                        </div>
                    </div>
                    <div class="goods-info">
                        <div class="tag-container"></div>
                        <div class="good-detail-img">
                            <a href="" class="good-thumb">
                                <img src="https://img13.static.yhbimg.com/goodsimg/2018/05/24/14/020a51f473664e03cd54534c2742be7722.jpg?imageMogr2/thumbnail/235x314/background/d2hpdGU=/position/center/quality/60/format/webp"
                                    class="lazy" alt="">
                            </a>
                            <div class="similar-c">
                                <div class="bg"></div>
                                <a href="">找相似</a>
                            </div>
                        </div>
                        <div class="good-detail-text">
                            <div class="name">
                                <a href="">Eone Timepieces 南方有乔木同款 2018新款触感磁力防水 中性时尚腕表BR-KU 酷MA萌定制版</a>
                            </div>
                            <div class="price">
                                <span class="sale-price">￥3280.00</span>
                            </div>
                            <a href="" class="iconfont"></a>
                        </div>
                    </div>
                    <div class="goods-info">
                        <div class="tag-container"></div>
                        <div class="good-detail-img">
                            <a href="" class="good-thumb">
                                <img src="https://img10.static.yhbimg.com/goodsimg/2018/04/18/15/01a14dc5505f87f2e7334530209d557294.jpg?imageMogr2/thumbnail/235x314/background/d2hpdGU=/position/center/quality/60/format/webp"
                                    class="lazy" alt="">
                            </a>
                            <div class="similar-c">
                                <div class="bg"></div>
                                <a href="">找相似</a>
                            </div>
                        </div>
                        <div class="good-detail-text">
                            <div class="name">
                                <a href="">Eone Timepieces 南方有乔木同款 2018新款触感磁力防水 中性时尚腕表BR-KU 酷MA萌定制版</a>
                            </div>
                            <div class="price">
                                <span class="sale-price">￥3280.00</span>
                            </div>
                            <a href="" class="iconfont"></a>
                        </div>
                    </div>
                    <div class="goods-info">
                        <div class="tag-container"></div>
                        <div class="good-detail-img">
                            <a href="" class="good-thumb">
                                <img src="https://img13.static.yhbimg.com/goodsimg/2018/05/24/14/020a51f473664e03cd54534c2742be7722.jpg?imageMogr2/thumbnail/235x314/background/d2hpdGU=/position/center/quality/60/format/webp"
                                    class="lazy" alt="">
                            </a>
                            <div class="similar-c">
                                <div class="bg"></div>
                                <a href="">找相似</a>
                            </div>
                        </div>
                        <div class="good-detail-text">
                            <div class="name">
                                <a href="">Eone Timepieces 南方有乔木同款 2018新款触感磁力防水 中性时尚腕表BR-KU 酷MA萌定制版</a>
                            </div>
                            <div class="price">
                                <span class="sale-price">￥3280.00</span>
                            </div>
                            <a href="" class="iconfont"></a>
                        </div>
                    </div>
                    <div class="goods-info">
                        <div class="tag-container"></div>
                        <div class="good-detail-img">
                            <a href="" class="good-thumb">
                                <img src="https://img10.static.yhbimg.com/goodsimg/2018/04/18/15/01a14dc5505f87f2e7334530209d557294.jpg?imageMogr2/thumbnail/235x314/background/d2hpdGU=/position/center/quality/60/format/webp"
                                    class="lazy" alt="">
                            </a>
                            <div class="similar-c">
                                <div class="bg"></div>
                                <a href="">找相似</a>
                            </div>
                        </div>
                        <div class="good-detail-text">
                            <div class="name">
                                <a href="">Eone Timepieces 南方有乔木同款 2018新款触感磁力防水 中性时尚腕表BR-KU 酷MA萌定制版</a>
                            </div>
                            <div class="price">
                                <span class="sale-price">￥3280.00</span>
                            </div>
                            <a href="" class="iconfont"></a>
                        </div>
                    </div>
                    <div class="goods-info">
                        <div class="tag-container"></div>
                        <div class="good-detail-img">
                            <a href="" class="good-thumb">
                                <img src="https://img13.static.yhbimg.com/goodsimg/2018/05/24/14/020a51f473664e03cd54534c2742be7722.jpg?imageMogr2/thumbnail/235x314/background/d2hpdGU=/position/center/quality/60/format/webp"
                                    class="lazy" alt="">
                            </a>
                            <div class="similar-c">
                                <div class="bg"></div>
                                <a href="">找相似</a>
                            </div>
                        </div>
                        <div class="good-detail-text">
                            <div class="name">
                                <a href="">Eone Timepieces 南方有乔木同款 2018新款触感磁力防水 中性时尚腕表BR-KU 酷MA萌定制版</a>
                            </div>
                            <div class="price">
                                <span class="sale-price">￥3280.00</span>
                            </div>
                            <a href="" class="iconfont"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>