<div class="container">
    <div class="top-downloadbar">
        <a href="javascript:;" class="download-close"></a>
        <span class="download-icon"></span>
        <span class="download-text">YoHo!Buy有货</span>
        <p class="download-text-desc">新用户送惊喜礼包</p>
        <a href="javascript:;" class="download-go">立即打开</a>
    </div>
    <div class="main"></div>
    <div class="footer-tab">
        <ul>
            <li href="javascript:;" class="tab-item">
                首页
            </li>
            <li href="javascript:;" class="tab-item">
                <!-- <p class="iconfont"></p> -->
                <!-- <p class="tab-name">分类</p> -->
                分类
            </li>
            <li href="javascript:;" class="tab-item ">
                <!-- <p class="iconfont"></p> -->
                <!-- <p class="tab-name">逛</p> -->
                逛
            </li>
            <li href="javascript:;" class="tab-item ">
                <!-- <p class="iconfont"></p> -->
                <!-- <p class="tab-name">购物车</p> -->
                购物车
            </li>
            <li href="javascript:;" class="tab-item ">
                我的
                <!-- <p class="iconfont"></p> -->
                <!-- <p class="tab-name">我的</p> -->
            </li>
        </ul>

    </div>
</div>