<div class="category-page">
    <!-- 搜索框 -->
    <div class="search-input">
        <a href="">
            <i class="iconfont">图标</i>
            <p>搜索商品</p>
        </a>
    </div>
    <!-- 导航 -->
    <ul class="category-nav">
        <li class="focus">
            <span>Boys</span>
        </li>
        <li class="focus">
            <span>Girls</span>
        </li>
        <li class="focus">
            <span>Kids</span>
        </li>
        <li class="focus">
            <span>Lifestyle</span>
        </li>
    </ul>
    <!-- 内容 -->
    <div class="category-container">
        <div class="content-kid">
            <ul class="primary-level">
                <li class="p-level-item">
                    上衣
                </li>
                <li class="p-level-item">
                    裤装
                </li>
                <li class="p-level-item">
                    鞋靴
                </li>
                <li class="p-level-item">
                    裙装
                </li>
                <li class="p-level-item">
                    包类
                </li>
                <li class="p-level-item">
                    服配
                </li>
                <li class="p-level-item">
                    内衣/家居服
                </li>
                <li class="p-level-item">
                    美妆/个护
                </li>
                <li class="p-level-item">
                    数码3C
                </li>
                <li class="p-level-item">
                    居家生活
                </li>
                <li class="p-level-item">
                    玩具礼品
                </li>
                <li class="p-level-item">
                    文具杂志
                </li>
                <li class="p-level-item">
                    厨具餐具
                </li>
                <!-- <li class="p-level-item">
                    <a href="//m.yohobuy.com/list/gd2,3-ci1330.html"> 生活电器</a>
                </li>
                <li class="p-level-item">
                    <a href="//m.yohobuy.com/list/gd2,3-ci1334.html"> 运动装备</a>
                </li> -->
            </ul>
            <div class="sub-level-container">
                <!-- 上衣 -->
                <ul class="sub-level">
                    <li>
                        <a href="//m.yohobuy.com/list/gd1,3-ci5.html?title=上衣">
                            全部上衣
                        </a>
                    </li>
                    <li>
                        <a href="//m.yohobuy.com/list/gd1,3-ci45.html">
                            T恤
                        </a>
                    </li>
                    <li>
                        <a href="//m.yohobuy.com/list/gd1,3-ci56.html">
                            衬衫
                        </a>
                    </li>
                    <li>
                        <a href="//m.yohobuy.com/list/gd1,3-ci48.html">
                            POLO衫
                        </a>
                    </li>
                    <li>
                        <a href="//m.yohobuy.com/list/gd1,3-ci53.html">
                            背心
                        </a>
                    </li>
                    <li>
                        <a href="//m.yohobuy.com/list/gd1,3-ci61.html">
                            卫衣
                        </a>
                    </li>
                    <li>
                        <a href="//m.yohobuy.com/list/gd1,3-ci209.html">
                            马甲
                        </a>
                    </li>
                    <li>
                        <a href="//m.yohobuy.com/list/gd1,3-ci72.html">
                            夹克
                        </a>
                    </li>
                    <li>
                        <a href="//m.yohobuy.com/list/gd1,3-ci207.html">
                            防风外套
                        </a>
                    </li>
                    <li>
                        <a href="//m.yohobuy.com/list/gd1,3-ci1214.html">
                            风衣
                        </a>
                    </li>
                    <li>
                        <a href="//m.yohobuy.com/list/gd1,3-ci78.html">
                            套装
                        </a>
                    </li>
                    <li>
                        <a href="//m.yohobuy.com/list/gd1,3-ci66.html">
                            西装
                        </a>
                    </li>
                    <li>
                        <a href="//m.yohobuy.com/list/gd1,3-ci205.html">
                            皮衣
                        </a>
                    </li>
                    <li>
                        <a href="//m.yohobuy.com/list/gd1,3-ci1206.html">
                            大衣
                        </a>
                    </li>
                    <li>
                        <a href="//m.yohobuy.com/list/gd1,3-ci1216.html">
                            毛衣
                        </a>
                    </li>
                    <li>
                        <a href="//m.yohobuy.com/list/gd1,3-ci1218.html">
                            针织衫
                        </a>
                    </li>
                    <li>
                        <a href="//m.yohobuy.com/list/gd1,3-ci211.html">
                            棉衣
                        </a>
                    </li>
                    <li>
                        <a href="//m.yohobuy.com/list/gd1,3-ci213.html">
                            羽绒服
                        </a>
                    </li>
                </ul>
                <!-- 裤装 -->
                <ul class="sub-level hide">
                    <li>
                        <a href="//m.yohobuy.com/list/gd1,2,3-ci7.html?title=裤装">
                            全部裤装
                        </a>
                    </li>
                    <li>
                        <a href="//m.yohobuy.com/list/gd1,2,3-ci67.html">
                            短裤
                        </a>
                    </li>
                    <li>
                        <a href="//m.yohobuy.com/list/gd1,2,3-ci57.html">
                            休闲裤
                        </a>
                    </li>
                    <li>
                        <a href="//m.yohobuy.com/list/gd1,2,3-ci60.html">
                            牛仔裤
                        </a>
                    </li>
                    <li>
                        <a href="//m.yohobuy.com/list/gd1,2,3-ci64.html">
                            打底裤
                        </a>
                    </li>
                    <li>
                        <a href="//m.yohobuy.com/list/gd1,2,3-ci270.html">
                            连体裤
                        </a>
                    </li>
                </ul>
                <!-- 鞋靴 -->
                <ul class="sub-level hide">
                    <li>
                        <a href="//m.yohobuy.com/list/gd1,2,3-ci13.html?title=鞋靴">
                            全部鞋靴
                        </a>
                    </li>
                    <li>
                        <a href="//m.yohobuy.com/list/gd1,2,3-ci95.html">
                            靴子
                        </a>
                    </li>
                    <li>
                        <a href="//m.yohobuy.com/list/gd1,2,3-ci99.html">
                            休闲/运动鞋
                        </a>
                    </li>
                    <li>
                        <a href="//m.yohobuy.com/list/gd1,2,3-ci89.html">
                            时装鞋
                        </a>
                    </li>
                    <li>
                        <a href="//m.yohobuy.com/list/gd1,2,3-ci97.html">
                            凉鞋/凉拖
                        </a>
                    </li>
                </ul>
                <!-- 包类 -->
                <ul class="sub-level hide">
                    <li>
                        <a href="//m.yohobuy.com/list/gd1,3-ci14.html?title=包类">
                            全部包类
                        </a>
                    </li>
                    <li>
                        <a href="//m.yohobuy.com/list/gd1,3-ci136.html">
                            双肩包
                        </a>
                    </li>
                    <li>
                        <a href="//m.yohobuy.com/list/gd1,3-ci142.html">
                            单肩包/手拎包
                        </a>
                    </li>
                    <li>
                        <a href="//m.yohobuy.com/list/gd1,3-ci147.html">
                            钱包/卡包
                        </a>
                    </li>
                    <li>
                        <a href="//m.yohobuy.com/list/gd1,3-ci150.html">
                            腰包
                        </a>
                    </li>
                    <li>
                        <a href="//m.yohobuy.com/list/gd1,3-ci156.html">
                            邮差包
                        </a>
                    </li>
                    <li>
                        <a href="//m.yohobuy.com/list/gd1,3-ci160.html">
                            电脑包
                        </a>
                    </li>
                    <li>
                        <a href="//m.yohobuy.com/list/gd1,3-ci163.html">
                            储物包
                        </a>
                    </li>
                    <li>
                        <a href="//m.yohobuy.com/list/gd1,3-ci165.html">
                            环保包
                        </a>
                    </li>
                    <li>
                        <a href="//m.yohobuy.com/list/gd1,3-ci168.html">
                            包配
                        </a>
                    </li>
                    <li>
                        <a href="//m.yohobuy.com/list/gd1,3-ci169.html">
                            tote包
                        </a>
                    </li>
                    <li>
                        <a href="//m.yohobuy.com/list/gd1,3-ci170.html">
                            旅行包
                        </a>
                    </li>
                    <li>
                        <a href="//m.yohobuy.com/list/gd1,3-ci171.html">
                            旅行箱
                        </a>
                    </li>
                    <li>
                        <a href="//m.yohobuy.com/list/gd1,3-ci610.html">
                            手包/钥匙包
                        </a>
                    </li>
                </ul>
                <!-- 服配 -->
                <ul class="sub-level hide">
                    <li>
                        <a href="//m.yohobuy.com/list/gd1,3-ci17.html?title=服配">
                            全部服配
                        </a>
                    </li>
                    <li>
                        <a href="//m.yohobuy.com/list/gd1,3-ci179.html">
                            首饰
                        </a>
                    </li>
                    <li>
                        <a href="//m.yohobuy.com/list/gd1,3-ci178.html">
                            帽子
                        </a>
                    </li>
                    <li>
                        <a href="//m.yohobuy.com/list/gd1,3-ci182.html">
                            手表
                        </a>
                    </li>
                    <li>
                        <a href="//m.yohobuy.com/list/gd1,3-ci177.html">
                            太阳镜/眼镜
                        </a>
                    </li>
                    <li>
                        <a href="//m.yohobuy.com/list/gd1,3-ci181.html">
                            配饰
                        </a>
                    </li>
                    <li>
                        <a href="//m.yohobuy.com/list/gd1,3-ci274.html">
                            皮带
                        </a>
                    </li>
                    <li>
                        <a href="//m.yohobuy.com/list/gd1,3-ci180.html">
                            袜子
                        </a>
                    </li>
                    <li>
                        <a href="//m.yohobuy.com/list/gd1,3-ci1362.html">
                            围巾/丝巾/披肩
                        </a>
                    </li>
                    <li>
                        <a href="//m.yohobuy.com/list/gd1,3-ci187.html">
                            手套
                        </a>
                    </li>
                </ul>
                <!-- 数码3c -->
                <ul class="sub-level hide">
                    <li>
                        <a href="//m.yohobuy.com/list/gd1,3-ci1224.html?title=数码3C">
                            全部数码3C
                        </a>
                    </li>
                    <li>
                        <a href="//m.yohobuy.com/list/gd1,3-ci1226.html">
                            影音娱乐
                        </a>
                    </li>
                    <li>
                        <a href="//m.yohobuy.com/list/gd1,3-ci1228.html">
                            手机配件
                        </a>
                    </li>
                    <li>
                        <a href="//m.yohobuy.com/list/gd1,3-ci1230.html">
                            智能设备
                        </a>
                    </li>
                    <li>
                        <a href="//m.yohobuy.com/list/gd1,3-ci1232.html">
                            电脑配件
                        </a>
                    </li>
                </ul>
                <!-- 玩具礼品-->
                <ul class="sub-level hide">
                    <li>
                        <a href="//m.yohobuy.com/list/gd1,3-ci1268.html?title=玩具礼品">
                            全部玩具礼品
                        </a>
                    </li>
                    <li>
                        <a href="//m.yohobuy.com/list/gd1,3-ci1270.html">
                            火机烟具
                        </a>
                    </li>
                    <li>
                        <a href="//m.yohobuy.com/list/gd1,3-ci1272.html">
                            益智/DIY
                        </a>
                    </li>
                    <li>
                        <a href="//m.yohobuy.com/list/gd1,3-ci1274.html">
                            玩具模型
                        </a>
                    </li>
                    <li>
                        <a href="//m.yohobuy.com/list/gd1,3-ci1276.html">
                            礼品
                        </a>
                    </li>
                </ul>
                <!-- 美妆个护 -->
                <ul class="sub-level hide">
                    <li>
                        <a href="//m.yohobuy.com/list/gd1,3-ci24.html?title=美妆/个护">
                            全部美妆/个护
                        </a>
                    </li>
                    <li>
                        <a href="//m.yohobuy.com/list/gd1,3-ci217.html">
                            面部护理
                        </a>
                    </li>
                    <li>
                        <a href="//m.yohobuy.com/list/gd1,3-ci219.html">
                            身体护理
                        </a>
                    </li>
                    <li>
                        <a href="//m.yohobuy.com/list/gd1,3-ci223.html">
                            香水彩妆
                        </a>
                    </li>
                    <li>
                        <a href="//m.yohobuy.com/list/gd1,3-ci193.html">
                            口腔护理
                        </a>
                    </li>
                </ul>
                <!-- 内衣/家居服 -->
                <ul class="sub-level hide">
                    <li>
                        <a href="//m.yohobuy.com/list/gd1,3-ci19.html?title=内衣/家居服">
                            全部内衣/家居服
                        </a>
                    </li>
                    <li>
                        <a href="//m.yohobuy.com/list/gd1,3-ci189.html">
                            内裤
                        </a>
                    </li>
                    <li>
                        <a href="//m.yohobuy.com/list/gd1,3-ci190.html">
                            家居服
                        </a>
                    </li>
                </ul>
                <!-- 运动装备 -->
                <!-- 成人用品 -->
                <!-- 居家生活 -->
                <!-- 厨具餐具 -->
                <!-- 文具杂志 -->
                <!-- 生活电器 -->

            </div>
        </div>
    </div>
</div>