<!-- 主体 -->
<div class="mobile_container">
    <div class="mobile_wrap">
        <!-- 主体上部 -->
        <div class="home_header">
            <span class="nav_btn"></span>
            <span class="logo"></span>
            <span class="search_btn">
                <a href=""></a>
            </span>
        </div>
        <!-- 轮播图 -->
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="">
                        <img src="https://img10.static.yhbimg.com/yhb-img01/2018/06/04/11/01f37628886a877279b1f87b0ec490c6a0.jpg?imageView2/2/w/640/h/240/q/60"
                            alt="">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="">
                        <img src="https://img11.static.yhbimg.com/yhb-img01/2018/06/04/09/0106fa396e94cf7b6793b9c0122152ac52.jpg?imageView2/2/w/640/h/240/q/60"
                            alt="">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="">
                        <img src="https://img10.static.yhbimg.com/yhb-img01/2018/06/04/09/017903c88bb2b1ed8b36f1bfcade3fe0f3.jpg?imageView2/2/w/640/h/240/q/60"
                            alt="">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="">
                        <img src="https://img11.static.yhbimg.com/yhb-img01/2018/06/04/09/01c009003d1fabaa6a49e18f69207f74f8.jpg?imageView2/2/w/640/h/240/q/60"
                            alt="">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="">
                        <img src="https://img10.static.yhbimg.com/yhb-img01/2018/06/04/11/015b4c396fb673c3ecdda938888b58ddb9.jpg?imageView2/2/w/640/h/240/q/60"
                            alt="">
                    </a>
                </div>
            </div>
            <!-- 如果需要分页器 -->
            <div class="swiper-pagination"></div>
        </div>
        <!-- 新品到着 -->
        <div class="icons_wrapper">
            <ul class="icons_list">
                <li class="icon_item">
                    <a href="">
                        <img src="https://img10.static.yhbimg.com/yhb-img01/2017/02/03/09/01ae835d5ae6d9502818daf351ad2db6cf.png?imageView2/2/w/98/h/98/q/60"
                            alt="">
                    </a>
                    <a href="">新品到着</a>
                </li>
                <li class="icon_item">
                    <a href="">
                        <img src="https://img11.static.yhbimg.com/yhb-img01/2017/02/03/09/011004f5a04caaf9c18d7848049a75981e.png?imageView2/2/w/98/h/98/q/60"
                            alt="">
                    </a>
                    <a href="">人气搭配</a>
                </li>
                <li class="icon_item">
                    <a href="">
                        <img src="https://img11.static.yhbimg.com/yhb-img01/2017/02/03/09/01d35157ab5942ea40b4f08a11c1680a17.png?imageView2/2/w/98/h/98/q/60"
                            alt="">
                    </a>
                    <a href="">折扣专区</a>
                </li>
                <li class="icon_item">
                    <a href="">
                        <img src="https://img10.static.yhbimg.com/yhb-img01/2017/02/03/09/01b097e06ac9fc78bbcc3d3e0dfbe01fcc.png?imageView2/2/w/98/h/98/q/60"
                            alt="">
                    </a>
                    <a href="">全部分类</a>
                </li>
            </ul>
        </div>
        <div class="boy_img"></div>
        <!-- 618 -->
        <div data-id="37473">
            <div class="banner-list">
                <a href="" id="37473">
                    <img src="https://img11.static.yhbimg.com/yhb-img01/2018/06/04/11/01b26e58d222a29b5123ef49daf5754ece.jpg?imageView2/3/w/640/h/200/q/60"
                        alt="">
                </a>
            </div>
        </div>
        <div class="boy_img"></div>
        <div data-id="36611">
            <div class="banner-list">
                <a href="" id="36611">
                    <img src="https://img11.static.yhbimg.com/yhb-img01/2018/06/04/11/01e1408ef83ccdb1bf961597f5c3736934.jpg?imageView2/3/w/640/h/200/q/60"
                        alt="">
                </a>
            </div>
        </div>
        <!-- 热门分类 -->
        <div class="hot-category">
            <div class="floor-header-more">
                <h2>热门品类</h2>
            </div>
            <ul class="category-list">
                <li>
                    <a href="">
                        <div class="img-box">
                            <img src="https://img10.static.yhbimg.com/yhb-img01/2018/06/08/10/012c9c60ae795497d982cb47dc0edaab38.jpg?imageView2/2/w/140/h/140/q/60"
                                alt="">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="img-box">
                            <img src="https://img11.static.yhbimg.com/yhb-img01/2018/06/07/09/013981f1645f129704b2e6aa42950946d1.jpg?imageView2/2/w/140/h/140/q/60"
                                alt="">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="img-box">
                            <img src="https://img11.static.yhbimg.com/yhb-img01/2018/06/07/09/0111ee7af38cbae9fdcb872f27f3843606.jpg?imageView2/2/w/140/h/140/q/60"
                                alt="">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="img-box">
                            <img src="https://img10.static.yhbimg.com/yhb-img01/2018/06/07/09/01c878be0bc2f8e66969b5c0b9795f9e1e.jpg?imageView2/2/w/140/h/140/q/60"
                                alt="">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="img-box">
                            <img src="https://img11.static.yhbimg.com/yhb-img01/2018/06/07/09/01e9efa5da843e600b56b50cfda89e60ff.jpg?imageView2/2/w/140/h/140/q/60"
                                alt="">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="img-box">
                            <img src="https://img10.static.yhbimg.com/yhb-img01/2018/06/07/09/011fb0bdee0b3bb9f3542bc2cf6df6dd77.jpg?imageView2/2/w/140/h/140/q/60"
                                alt="">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="img-box">
                            <img src="https://img11.static.yhbimg.com/yhb-img01/2018/06/08/10/013ff035610ce09db14823d01e2f20a5a8.jpg?imageView2/2/w/140/h/140/q/60"
                                alt="">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="img-box">
                            <img src="https://img11.static.yhbimg.com/yhb-img01/2018/06/08/10/013ff3e53d1e6cf9fc9033ed9991b96182.jpg?imageView2/2/w/140/h/140/q/60"
                                alt="">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="img-box">
                            <img src="https://img10.static.yhbimg.com/yhb-img01/2018/06/07/09/01cc966adb1b3a6965b07ff26b39cecc71.jpg?imageView2/2/w/140/h/140/q/60"
                                alt="">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="img-box">
                            <img src="https://img10.static.yhbimg.com/yhb-img01/2018/06/07/09/013103c9ac4288f99c172dce37d149b7ee.jpg?imageView2/2/w/140/h/140/q/60"
                                alt="">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="img-box">
                            <img src="https://img11.static.yhbimg.com/yhb-img01/2018/06/07/09/01ed39c4826d7eae06da9982c66ff155b4.jpg?imageView2/2/w/140/h/140/q/60"
                                alt="">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="img-box">
                            <img src="https://img10.static.yhbimg.com/yhb-img01/2018/06/07/09/015c4a6d3177ddb539ca246a5e9fea8196.jpg?imageView2/2/w/140/h/140/q/60"
                                alt="">
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="boy_img"></div>
        <!--人气推荐-->
        <div class="hot-single">
            <div class="floor-header-more">
                <h2>人气推荐</h2>
                <a href="" class="more-btn"></a>
            </div>
            <div class="banner-list">
                <a href="">
                    <img src="https://img11.static.yhbimg.com/yhb-img01/2017/08/04/10/015f31dc40baa31dee9f602f1a84a6ae5f.jpg?imageView2/2/w/640/h/200/q/90"
                        alt="">
                </a>
            </div>
            <div class="hot-single-goods-list">
                <ul>
                    <li class="hot-single-goods">
                        <a href="">
                            <img src="https://img13.static.yhbimg.com/goodsimg/2017/08/21/10/02b3b5a4aa84e142f9bca7a29ec0385be6.jpg?imageMogr2/thumbnail/153x206/background/d2hpdGU=/position/center/quality/60"
                                alt="">
                            <div class="goods-info">
                                <h3 class="price">￥118.00</h3>
                                <p class="view-num">175人</p>
                                <p class="view-status">正在浏览</p>
                            </div>
                        </a>
                    </li>
                    <li class="hot-single-goods">
                        <a href="">
                            <img src="https://img13.static.yhbimg.com/goodsimg/2018/03/07/17/022622165376bb696c3da03188e8dbde2c.jpg?imageMogr2/thumbnail/153x206/background/d2hpdGU=/position/center/quality/60"
                                alt="">
                            <div class="goods-info">
                                <h3 class="price">￥118.00</h3>
                                <p class="view-num">175人</p>
                                <p class="view-status">正在浏览</p>
                            </div>
                        </a>
                    </li>
                    <li class="hot-single-goods">
                        <a href="">
                            <img src="https://img10.static.yhbimg.com/goodsimg/2018/03/28/14/01d7474aa8a8ed5d1f9421fe7d19896a1c.jpg?imageMogr2/thumbnail/153x206/background/d2hpdGU=/position/center/quality/60"
                                alt="">
                            <div class="goods-info">
                                <h3 class="price">￥118.00</h3>
                                <p class="view-num">175人</p>
                                <p class="view-status">正在浏览</p>
                            </div>
                        </a>
                    </li>
                    <li class="hot-single-goods">
                        <a href="">
                            <img src="https://img13.static.yhbimg.com/goodsimg/2017/11/14/10/02cae1aaac3941aafe28429f3e921e629c.jpg?imageMogr2/thumbnail/153x206/background/d2hpdGU=/position/center/quality/60"
                                alt="">
                            <div class="goods-info">
                                <h3 class="price">￥118.00</h3>
                                <p class="view-num">175人</p>
                                <p class="view-status">正在浏览</p>
                            </div>
                        </a>
                    </li>
                    <li class="hot-single-goods">
                        <a href="">
                            <img src="" alt="">
                            <div class="goods-info">
                                <h3 class="price">￥118.00</h3>
                                <p class="view-num">175人</p>
                                <p class="view-status">正在浏览</p>
                            </div>
                        </a>
                    </li>
                    <li class="hot-single-goods">
                        <a href="">
                            <img src="https://img11.static.yhbimg.com/goodsimg/2018/04/13/13/010ed825b793d08195d28a137124e9a508.jpg?imageMogr2/thumbnail/153x206/background/d2hpdGU=/position/center/quality/60"
                                alt="">
                            <div class="goods-info">
                                <h3 class="price">￥118.00</h3>
                                <p class="view-num">175人</p>
                                <p class="view-status">正在浏览</p>
                            </div>
                        </a>
                    </li>
                    <li class="hot-single-goods">
                        <a href="">
                            <img src="https://img13.static.yhbimg.com/goodsimg/2018/04/30/09/02e439e12fec341c45390ad31db3f75f1c.jpg?imageMogr2/thumbnail/153x206/background/d2hpdGU=/position/center/quality/60"
                                alt="">
                            <div class="goods-info">
                                <h3 class="price">￥118.00</h3>
                                <p class="view-num">175人</p>
                                <p class="view-status">正在浏览</p>
                            </div>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
        <!-- 你可能喜欢 -->
        <div class="may-like">
            <p class="title">
                <i class="icon"></i>
                <span>你可能喜欢</span>
            </p>
            <div class="good-list">
                <div class="goods-info">
                    <div class="tag-container"></div>
                    <div class="good-detail-img">
                        <a href="" class="good-thumb">
                            <img src="https://img10.static.yhbimg.com/goodsimg/2018/04/18/15/01a14dc5505f87f2e7334530209d557294.jpg?imageMogr2/thumbnail/235x314/background/d2hpdGU=/position/center/quality/60/format/webp"
                                class="lazy" alt="">
                        </a>
                        <div class="similar-c">
                            <div class="bg"></div>
                            <a href="">找相似</a>
                        </div>
                    </div>
                    <div class="good-detail-text">
                        <div class="name">
                            <a href="">Eone Timepieces 南方有乔木同款 2018新款触感磁力防水 中性时尚腕表BR-KU 酷MA萌定制版</a>
                        </div>
                        <div class="price">
                            <span class="sale-price">￥3280.00</span>
                        </div>
                        <a href="" class="iconfont"></a>
                    </div>
                </div>
                <div class="goods-info">
                    <div class="tag-container"></div>
                    <div class="good-detail-img">
                        <a href="" class="good-thumb">
                            <img src="https://img13.static.yhbimg.com/goodsimg/2018/05/24/14/020a51f473664e03cd54534c2742be7722.jpg?imageMogr2/thumbnail/235x314/background/d2hpdGU=/position/center/quality/60/format/webp"
                                class="lazy" alt="">
                        </a>
                        <div class="similar-c">
                            <div class="bg"></div>
                            <a href="">找相似</a>
                        </div>
                    </div>
                    <div class="good-detail-text">
                        <div class="name">
                            <a href="">Eone Timepieces 南方有乔木同款 2018新款触感磁力防水 中性时尚腕表BR-KU 酷MA萌定制版</a>
                        </div>
                        <div class="price">
                            <span class="sale-price">￥3280.00</span>
                        </div>
                        <a href="" class="iconfont"></a>
                    </div>
                </div>
                <div class="goods-info">
                    <div class="tag-container"></div>
                    <div class="good-detail-img">
                        <a href="" class="good-thumb">
                            <img src="https://img10.static.yhbimg.com/goodsimg/2018/04/18/15/01a14dc5505f87f2e7334530209d557294.jpg?imageMogr2/thumbnail/235x314/background/d2hpdGU=/position/center/quality/60/format/webp"
                                class="lazy" alt="">
                        </a>
                        <div class="similar-c">
                            <div class="bg"></div>
                            <a href="">找相似</a>
                        </div>
                    </div>
                    <div class="good-detail-text">
                        <div class="name">
                            <a href="">Eone Timepieces 南方有乔木同款 2018新款触感磁力防水 中性时尚腕表BR-KU 酷MA萌定制版</a>
                        </div>
                        <div class="price">
                            <span class="sale-price">￥3280.00</span>
                        </div>
                        <a href="" class="iconfont"></a>
                    </div>
                </div>
                <div class="goods-info">
                    <div class="tag-container"></div>
                    <div class="good-detail-img">
                        <a href="" class="good-thumb">
                            <img src="https://img13.static.yhbimg.com/goodsimg/2018/05/24/14/020a51f473664e03cd54534c2742be7722.jpg?imageMogr2/thumbnail/235x314/background/d2hpdGU=/position/center/quality/60/format/webp"
                                class="lazy" alt="">
                        </a>
                        <div class="similar-c">
                            <div class="bg"></div>
                            <a href="">找相似</a>
                        </div>
                    </div>
                    <div class="good-detail-text">
                        <div class="name">
                            <a href="">Eone Timepieces 南方有乔木同款 2018新款触感磁力防水 中性时尚腕表BR-KU 酷MA萌定制版</a>
                        </div>
                        <div class="price">
                            <span class="sale-price">￥3280.00</span>
                        </div>
                        <a href="" class="iconfont"></a>
                    </div>
                </div>
                <div class="goods-info">
                    <div class="tag-container"></div>
                    <div class="good-detail-img">
                        <a href="" class="good-thumb">
                            <img src="https://img10.static.yhbimg.com/goodsimg/2018/04/18/15/01a14dc5505f87f2e7334530209d557294.jpg?imageMogr2/thumbnail/235x314/background/d2hpdGU=/position/center/quality/60/format/webp"
                                class="lazy" alt="">
                        </a>
                        <div class="similar-c">
                            <div class="bg"></div>
                            <a href="">找相似</a>
                        </div>
                    </div>
                    <div class="good-detail-text">
                        <div class="name">
                            <a href="">Eone Timepieces 南方有乔木同款 2018新款触感磁力防水 中性时尚腕表BR-KU 酷MA萌定制版</a>
                        </div>
                        <div class="price">
                            <span class="sale-price">￥3280.00</span>
                        </div>
                        <a href="" class="iconfont"></a>
                    </div>
                </div>
                <div class="goods-info">
                    <div class="tag-container"></div>
                    <div class="good-detail-img">
                        <a href="" class="good-thumb">
                            <img src="https://img13.static.yhbimg.com/goodsimg/2018/05/24/14/020a51f473664e03cd54534c2742be7722.jpg?imageMogr2/thumbnail/235x314/background/d2hpdGU=/position/center/quality/60/format/webp"
                                class="lazy" alt="">
                        </a>
                        <div class="similar-c">
                            <div class="bg"></div>
                            <a href="">找相似</a>
                        </div>
                    </div>
                    <div class="good-detail-text">
                        <div class="name">
                            <a href="">Eone Timepieces 南方有乔木同款 2018新款触感磁力防水 中性时尚腕表BR-KU 酷MA萌定制版</a>
                        </div>
                        <div class="price">
                            <span class="sale-price">￥3280.00</span>
                        </div>
                        <a href="" class="iconfont"></a>
                    </div>
                </div>
                <div class="goods-info">
                    <div class="tag-container"></div>
                    <div class="good-detail-img">
                        <a href="" class="good-thumb">
                            <img src="https://img10.static.yhbimg.com/goodsimg/2018/04/18/15/01a14dc5505f87f2e7334530209d557294.jpg?imageMogr2/thumbnail/235x314/background/d2hpdGU=/position/center/quality/60/format/webp"
                                class="lazy" alt="">
                        </a>
                        <div class="similar-c">
                            <div class="bg"></div>
                            <a href="">找相似</a>
                        </div>
                    </div>
                    <div class="good-detail-text">
                        <div class="name">
                            <a href="">Eone Timepieces 南方有乔木同款 2018新款触感磁力防水 中性时尚腕表BR-KU 酷MA萌定制版</a>
                        </div>
                        <div class="price">
                            <span class="sale-price">￥3280.00</span>
                        </div>
                        <a href="" class="iconfont"></a>
                    </div>
                </div>
                <div class="goods-info">
                    <div class="tag-container"></div>
                    <div class="good-detail-img">
                        <a href="" class="good-thumb">
                            <img src="https://img13.static.yhbimg.com/goodsimg/2018/05/24/14/020a51f473664e03cd54534c2742be7722.jpg?imageMogr2/thumbnail/235x314/background/d2hpdGU=/position/center/quality/60/format/webp"
                                class="lazy" alt="">
                        </a>
                        <div class="similar-c">
                            <div class="bg"></div>
                            <a href="">找相似</a>
                        </div>
                    </div>
                    <div class="good-detail-text">
                        <div class="name">
                            <a href="">Eone Timepieces 南方有乔木同款 2018新款触感磁力防水 中性时尚腕表BR-KU 酷MA萌定制版</a>
                        </div>
                        <div class="price">
                            <span class="sale-price">￥3280.00</span>
                        </div>
                        <a href="" class="iconfont"></a>
                    </div>
                </div>
                <div class="goods-info">
                    <div class="tag-container"></div>
                    <div class="good-detail-img">
                        <a href="" class="good-thumb">
                            <img src="https://img10.static.yhbimg.com/goodsimg/2018/04/18/15/01a14dc5505f87f2e7334530209d557294.jpg?imageMogr2/thumbnail/235x314/background/d2hpdGU=/position/center/quality/60/format/webp"
                                class="lazy" alt="">
                        </a>
                        <div class="similar-c">
                            <div class="bg"></div>
                            <a href="">找相似</a>
                        </div>
                    </div>
                    <div class="good-detail-text">
                        <div class="name">
                            <a href="">Eone Timepieces 南方有乔木同款 2018新款触感磁力防水 中性时尚腕表BR-KU 酷MA萌定制版</a>
                        </div>
                        <div class="price">
                            <span class="sale-price">￥3280.00</span>
                        </div>
                        <a href="" class="iconfont"></a>
                    </div>
                </div>
                <div class="goods-info">
                    <div class="tag-container"></div>
                    <div class="good-detail-img">
                        <a href="" class="good-thumb">
                            <img src="https://img13.static.yhbimg.com/goodsimg/2018/05/24/14/020a51f473664e03cd54534c2742be7722.jpg?imageMogr2/thumbnail/235x314/background/d2hpdGU=/position/center/quality/60/format/webp"
                                class="lazy" alt="">
                        </a>
                        <div class="similar-c">
                            <div class="bg"></div>
                            <a href="">找相似</a>
                        </div>
                    </div>
                    <div class="good-detail-text">
                        <div class="name">
                            <a href="">Eone Timepieces 南方有乔木同款 2018新款触感磁力防水 中性时尚腕表BR-KU 酷MA萌定制版</a>
                        </div>
                        <div class="price">
                            <span class="sale-price">￥3280.00</span>
                        </div>
                        <a href="" class="iconfont"></a>
                    </div>
                </div>
                <div class="goods-info">
                    <div class="tag-container"></div>
                    <div class="good-detail-img">
                        <a href="" class="good-thumb">
                            <img src="https://img10.static.yhbimg.com/goodsimg/2018/04/18/15/01a14dc5505f87f2e7334530209d557294.jpg?imageMogr2/thumbnail/235x314/background/d2hpdGU=/position/center/quality/60/format/webp"
                                class="lazy" alt="">
                        </a>
                        <div class="similar-c">
                            <div class="bg"></div>
                            <a href="">找相似</a>
                        </div>
                    </div>
                    <div class="good-detail-text">
                        <div class="name">
                            <a href="">Eone Timepieces 南方有乔木同款 2018新款触感磁力防水 中性时尚腕表BR-KU 酷MA萌定制版</a>
                        </div>
                        <div class="price">
                            <span class="sale-price">￥3280.00</span>
                        </div>
                        <a href="" class="iconfont"></a>
                    </div>
                </div>
                <div class="goods-info">
                    <div class="tag-container"></div>
                    <div class="good-detail-img">
                        <a href="" class="good-thumb">
                            <img src="https://img13.static.yhbimg.com/goodsimg/2018/05/24/14/020a51f473664e03cd54534c2742be7722.jpg?imageMogr2/thumbnail/235x314/background/d2hpdGU=/position/center/quality/60/format/webp"
                                class="lazy" alt="">
                        </a>
                        <div class="similar-c">
                            <div class="bg"></div>
                            <a href="">找相似</a>
                        </div>
                    </div>
                    <div class="good-detail-text">
                        <div class="name">
                            <a href="">Eone Timepieces 南方有乔木同款 2018新款触感磁力防水 中性时尚腕表BR-KU 酷MA萌定制版</a>
                        </div>
                        <div class="price">
                            <span class="sale-price">￥3280.00</span>
                        </div>
                        <a href="" class="iconfont"></a>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>